/*---------------Base Styles------------------*/
body{
	font-size: 16px;
	color: grey;
	background-color: #FFA8BC;

}

h1{
	font-family: Brush Script MT;
	text-align: center;
	font-size: 80px;
}

#pink{
	background-color: #FFA8BC;
	color: grey;


}

#center{
	text-align: center;
}